# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# .env
.env*

# Production
/build

# Packages
node_modules/
node_modules

# virtual environment
env
.vscode
model/__pycache__

# py and temp files for ml model
/__pycache__
*.csv